<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Form test</title>
    </head>
    <body>
        <form action="/maiex/load/test" method="POST">
            <input type="text" name="pid" val="<%= pid %>" />
            <input type="submit" value="検索" />
        </form>
        <hr />
        <% if (name === undefined) { %>
            <p>検索結果無し</p>
        <% } else { %>
            <dl>
                <dt>ID:</dt>  <dd><%= pid    %></dd>
                <dt>Name:</dt><dd><%= name   %></dd>
                <dt>名前:</dt><dd><%= mbname %></dd>
            </dl>
        <% } %>
    </body>
</html>